version: "3.9"

services:
  backend:
    build:
      context: ./classroom-backend
      dockerfile: Dockerfile
      target: dev
    container_name: classroom_backend_dev
    ports:
      - "8000:8000"
    env_file:
      - ./classroom-backend/.env
    volumes:
      - ./classroom-backend/src:/app/src
      - /app/node_modules

  frontend:
    build:
      context: ./classroom-frontend
      dockerfile: Dockerfile
      target: dev
    container_name: classroom_frontend_dev
    ports:
      - "5173:5173"
    volumes:
      - ./classroom-frontend/src:/app/src
      - /app/node_modules
    depends_on:
      - backend