name: Build & Deploy to Kubernetes

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/classroom-backend:${{ github.sha }} ./classroom-backend
          docker push ${{ secrets.DOCKER_USERNAME }}/classroom-backend:${{ github.sha }}

      - name: Build & push frontend
        run: |
          docker build \
            --build-arg VITE_BACKEND_BASE_URL=http://localhost:8000/api \
            -t ${{ secrets.DOCKER_USERNAME }}/classroom-frontend:${{ github.sha }} \
            ./classroom-frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/classroom-frontend:${{ github.sha }}

      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/backend \
            backend=${{ secrets.DOCKER_USERNAME }}/classroom-backend:${{ github.sha }}

          kubectl set image deployment/frontend \
            frontend=${{ secrets.DOCKER_USERNAME }}/classroom-frontend:${{ github.sha }}
